.banner-img {
    width: 100%;
    height: auto;
}

.logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
    padding: 10px;
}

.sectionTwo {
    background: #D4D4D4;
    height: 100vh;
}
.tittle-Section-Two {
    margin-top:10%;
}
.tittle-Section-Container{
    display: flex;
    text-align: center;
    justify-content: center;
}
.cardsRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
