* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: Inter, sans-serif;
    font-weight: bold;
}


@media (max-width: 600px) {
    h1.MuiTypography-root {
        font-size: 12vw !important;
    }
    h2.MuiTypography-root {
        font-size: 8vw !important;
    }
    .MuiTypography-subtitle1 {
        font-size: 3vw !important;
    }
}